@import 'assets/styles/_theme.scss';

.tag {
  border-radius: 999px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  user-select: none;

  &--primary {
    border-color: $black;
    font-weight: map-get($font-weight, semibold);
  }
  &--secondary {
    border-color: $gray;
    font-weight: map-get($font-weight, medium);
  }
  &--small {
    padding: pxToRem(4px) pxToRem(8px);
    font-size: pxToRem(10px);
  }
  &--regular {
    padding: pxToRem(10px) pxToRem(20px);
  }
}
