@import 'assets/styles/_theme.scss';

.button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &--black {
    color: $white;
    background-color: $black;
  }

  &--white {
    color: $black;
    background-color: $white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &--small {
    font-size: pxToRem(14px);
    padding: pxToRem(8px) pxToRem(16px);
    font-weight: map-get($font-weight, medium);
  }

  &--medium {
    font-size: pxToRem(18px);
    padding: pxToRem(10px) pxToRem(20px);
    font-weight: map-get($font-weight, medium);
  }

  &--large {
    font-size: pxToRem(36px);
    padding: pxToRem(15px) pxToRem(30px);
    font-weight: map-get($font-weight, semibold);
  }

  &--rounded {
    border-radius: pxToRem(4px);
  }

  &--white-bordered {
    text-transform: initial;
    color: $black;
    background-color: $white;
    border: 1px solid $black;
  }

  &--is-payment {
    padding: 0 pxToRem(20px);
  }
}
